*
.env
!.env.example
!dist/
!dist/index.js
!dist/Utils.js
!dist/Test1.js
!.github/
!.github/workflows/
!.github/workflows/*
!.gitignore
!src/
!src/*
!public/
!public/*
!package.json
!tsconfig.json
!Dockerfile
!.dockerignore
!docker-compose.yml
!package-lock.json
!test/
!test/*.test.cjs
!docs/
!docs/**
